body {
    background-color: black;
    color: white;
    margin: 0;  

}
.window-custom {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 90vh;
    width: 90vw;
}
.title-bar {
    background:linear-gradient(90deg,#00007B,#1085D2);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-controls {
    display: flex;
}

.tab-bar{
    background-color: #c0c0c0;
    padding: 5px 0;
}
u{
    color: black;
    padding: 5px;
}

.window-body-custom{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1; 
    background-color:black;
    color:black;
    margin: 0;
}
.controls-column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.input-control{
    background-color: #c0c0c0;
    display: flex;
    flex-direction: column;
}
.pieces-checkbox{
    background-color: #c0c0c0;
    display: flex;
    flex-direction: column;
}
.dimension-control {
    display: flex;
    justify-content: flex-end; /* Aligns children to the right */
    align-items: center; /* Centers children vertically */
    height: 100%; /* Optional: Set a height if needed */
}

#tetris-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Creates a 12x12 grid */
    grid-template-rows: repeat(12, 1fr);
    gap: 1px;
    width: 600px; /* Adjust size as necessary */
    height: 600px;
    position: relative;
    border: 2px solid white;
}

